@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: #071223;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    color: #fff;
    margin-bottom: 20px;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
}

.header-content {
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.header-time{
    color: #fff;
    flex: 0.25;
}

.header-content{
    color: #fff;
    flex: 2;
}

.schedule {
    display: flex;
    align-items: center;
    margin: 20px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s, transform 0.6s;
}

.schedule[data-aos] {
    opacity: 1;
    transform: translateY(0);
}

.time {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.event-group {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    justify-content: left;
    gap: 10px;
}

.event {
    background-color: #f0f0f0;
    color: #071223;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

.event:hover {
    background-color: #071223;
    color: #fff;
}
.event:hover::after {
    content: attr(data-room);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.3s;
}

.event::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
}
