@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #071223;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #fff;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #071223;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 8px 8px 16px #000, -8px -8px 16px #1d2a3a;
}

label {
    font-weight: bold;
    color: #fff;
}

input[type="text"],
input[type="email"],
select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #071223;
    border-radius: 4px;
    box-shadow: inset 4px 4px 8px #000, inset -4px -4px 8px #1d2a3a;
    color: #fff;
}

input[type="submit"] {
    width: 100%;
    background-color: #fff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #071223;
    transition: background-color 0.3s ease;
    box-shadow: 4px 4px 8px #000, -4px -4px 8px #1d2a3a;
}

input[type="submit"]:hover {
    background-color: #0d233f;
}

.login{
    margin: 20px 0;
    text-align: center;
}

.login a{
    color: #fff;
    text-decoration: none;
}

.login a:hover{
    text-decoration: underline;
}
.input-error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 0.9em;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

/* Modal content */
.modal-content {
    background-color: #0d233f; /* Main background color */
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px; /* Rounded corners */
    width: 60%; /* Adjusted width */
    color: #ffffff; /* Text color */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

/* Style for the thank you message */
#thankYouMessage {
    font-size: 18px; /* Increased font size */
    line-height: 1.5; /* Improved line height */
}

/* Style for the link */
.modal-content a {
    color: #ffcc00; /* Link color */
    text-decoration: none;
    font-weight: bold;
}

.modal-content a:hover {
    text-decoration: underline;
}

/* General styles for the select element */
select#event {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #1d2a3a;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #071223;
    font-size: 16px;
    color: #f9f9f9;
}

/* Adding custom arrow icon */

/* Focus styles */
select#event:focus {
    border-color: #0d233f;
    box-shadow: 0 0 5px rgba(13, 35, 63, 0.5);
    outline: none;
}

/* Responsive design */
@media (max-width: 600px) {
    select#event {
        font-size: 14px;
    }
}
