@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #151515;
}

.card{
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    border-radius: 20px;
    transition-delay: .5s;
}

.card:hover{
    width: 600px;
    transition-delay: .5s;
}

.card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .circle::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: #787575;
    border: 8px solid var(--clr);
    filter: drop-shadow(0 0 10px var(--clr))
    drop_shadow(0 0 60px var(--clr));
    transition: .5s, background .5s;
    transition-delay: .75s, 1s;
}

.card:hover .circle::before{
    transition-delay: .5s;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background: var(--clr);
}

.card .circle .logo{
    position: relative;
    width: 250px;
    transition: .5s;
    transition-delay: .5s;
}

.card:hover .circle .logo{
    transform: scale(0);
    transition-delay: 0s;
}

.card .image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(315deg);
    height: 300px;
    transition: .5s ease-in-out;
}

.card:hover .image{
    transition-delay: .75s;
    top: 50%;
    left: 75%;
    height: 200px;
    transform: translate(-50%, -50%);
    scale: (1) rotate(15deg);
}

.card .content{
    position: absolute;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: .5s;
    visibility: hidden;
}

.card:hover .content{
    transition-delay: .75s;
    opacity: 1;
    visibility: visible;
    left: 2.5px;
}

.card .content h2{
    color: #111;
    text-transform: capitalize;
    font-size: 2.5rem;
    line-height: 1cm;
}

.card .content p{
    color: #111;
}

.card .content a{
    position: relative;
    color: #111;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
}