@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

.home {
    display: flex;
    background: #071223;
    position: relative;
    overflow: hidden;
}

.home .video {
    height: auto;
    width: 100%;
    position: absolute;
    align-content: normal;
    z-index: 1;
}

.rules-regulations {
    padding: 30px;
    padding-top: 10px;
    /* Increase padding top for more space */
    background-color: #071223;
    color: #fff;
    /* Use a slightly lighter color for better contrast */
    position: relative;
    overflow: hidden;
    line-height: 1.8;
    font-size: 18px;
    z-index: 100;

}

.rules-regulations h2 {
    margin-top: 10px;
    /* Add space above each heading */
}

.rules-regulations ul {
    display: inline-block;
    margin-left: 10%;
    letter-spacing: .8px;
}

.container section {
    margin-top: 40px;
}

.contact-info {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px;
}

.neumorphic-footer {
    background: #071223;
    padding: 40px 0;
}

.footer_content {
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 1;
}

.rounded-rectangle {
    background: #071223;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 8px 8px 16px #000, -8px -8px 16px #1d2a3a;
    position: relative;
    z-index: 1;
}

.footer_content h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.footer_content h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #b0c4de;
}

.footer_content p {
    font-size: 18px;
    margin-top: 20px;
    color: white;
}

.footer_content a {
    color: white;
    transition: color 0.3s ease;
}

.footer_content a:hover {
    color: aqua;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #071223;
    background-color: #e0e8ef;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 40px 40px 40px 40px;
    padding: 16px 24px 16px 28px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -2px -1px 8px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
    font-weight: bold;
    margin-top: 2%;
   }
   
   button:hover {
    color: #516d91;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 4px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
   }
   
   button:active {
    box-shadow: none;
   }

   button a{
    text-decoration: none;
   }

@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
        align-items: center;
    }
}

#loader {
    position: fixed;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border: 14px solid #f3f3f3;
    border-radius: 50%;
    border-top: 14px solid #071223;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    display: none; /* Initially hidden */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* CSS to position the video */
.home {
    position: relative;
}

.video {
    position: absolute;
}

@media (max-width: 768px){
    #loader{
        top: 10%;
        left: 42%;
        width: 50px;
        height: 50px;
        border: 6px solid #f3f3f3;
        border-top: 6px solid #071223;
    }
}

.navigation-arrows {
    position: fixed;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 1000;
}

.arrow {
    cursor: pointer;
    font-size: 2rem;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
}
