@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

/* === removing default button style ===*/
t.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
    width: 100%;
    filer: drop-shadow(0 0 23px var(--animation-color))
}

.home {
    display: flex;
    height: 90vh;
    background: #071223;
    position: relative;
    overflow: hidden;
}

.home .video {
    height: auto;
    width: 100%;
    position: absolute;
    align-content: normal;
    z-index: 1;
}

.rules-regulations {
    padding: 30px;
    padding-top: 10px;
    /* Increase padding top for more space */
    background-color: #071223;
    color: #fff;
    /* Use a slightly lighter color for better contrast */
    position: relative;
    overflow: hidden;
    line-height: 1.8;
    font-size: 18px;
    z-index: 100;

}

.rules-regulations h2 {
    margin-top: 30px;
    /* Add space above each heading */
}

.rules-regulations ul {
    display: inline-block;
    margin-left: 10%;
    letter-spacing: .8px;
}

.container section {
    margin-top: 40px;
}

.contact-info {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px;
}

footer {
    background-color: #071223;
    color: white;
    padding: 20px 0;
}

.footer_content {
    width: 80%;
    margin: auto;
    text-align: center;
}

.footer_content a {
    color: white;
}

.footer_content a:hover {
    color: aqua;
}

@media (max-width: 768px) {
    header nav ul {
        display: none;
    }

    header nav ul.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: #111;
    }

    header nav ul.active li {
        padding: 10px 0;
    }

    header nav ul.active li a {
        padding: 10px 20px;
    }

    .home {
        height: 25vh;
    }

    .home img {
        height: 100vh;
    }

    .home .title {
        font-size: 60px;
    }

    .home .title1 {
        font-size: 10px;
    }

    .contact-info {
        flex-direction: column;
        align-items: center;
    }


}